{
  "extends": ["plugin:prettier/recommended"],
  "plugins": ["prettier", "import"],
  "rules": {
    "prettier/prettier": "error",
    "import/extensions": ["error", "always"]
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  }
}
